.frame{
    padding: 100px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #fff;
}
.page_start{
    display: none;
}
/*  */

.login_section, .login_box{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.logo, .logo > img{
    width: 240px;
    height: 194px;
}

.input_box, .input_form{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.input_box{
    margin-top: 87.7px;
}
.input_form{
    width: 100%;
    position: relative;
}
.input_form > input, .login_box > button {
    width: 315px;
    height: 80px;
}
.input_form > input{
    padding: 26px 45px 15px 74px;
    font-size: 24px;
    font-weight: 400;
    line-height: 27.6px;
    background-color: #F4F5F7;
}
.input_form > input:last-child {
    margin-top: 61px;
}

/*  */
.Email_img_box{
    position: absolute;
    top: 30px;
    left: 23px;
}
.password_img_box{
    position: absolute;
    top: 164px;
    left: 19px;
}
.login_box{
    margin-bottom: 100px;
}
.login_box > button{
    margin-top: 48px;
    background-color: #2D9CDB;
    color: #fff;
    font-weight: 700;
    font-size: 24px;
}

.login_box > a {
    margin-top: 12px;
    color: #2D9CDB;
    border-bottom: 1px solid #2D9CDB;
    font-size: 16px;
    font-weight: 700;
}

/*  */
.bottom_section{
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0B1F8D;
    width: 100%;
    height: 70px;
    color: #fff;
}
.bottom_section > span{
    height: 20px;
    font-size: 16px;
    font-weight: 400;
}
.bottom_section > span > a{
    color: #2D9CDB;
}